
/*navbar->a color*/
#nava{
    color: white;
}

p{
    font-size: 20px;
    /*font-family: Microsoft JhengHei;*/
}

#btn_test{
    background-color:brown; 
    /*font-family:Microsoft JhengHei;*/
}

#copyright{
    font-size: 15px;
}

#jumbotron{
    height: 400px;
    background-image: url("https://images-cn.ssl-images-amazon.com/images/S/amazon.job-cms-website.paperclip.prod/teams/338/images/amazonai-hiring-banner-1440x425.jpg?1485975434");
    background-size:cover;
    border-radius: 0px ;
    
}  

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}