<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="remedial.js"></script>
	

    <title>補救課程</title>
</head>
<body>
	<div class="container">
		<!-- 教學內容 -->
		<div class="row">
			<div class="col-md-2 col-md-offset-3" style="padding-top: 25px; ">
				<div class="row">
					<div class="col-md-1 col-md-offset-6">
						<p id="capital" style="font-size: 72px;"></p>
					</div>
					<div class="col-md-1 col-md-offset-1">
						<p id="lowercase" style="font-size: 72px;"></p>
					</div>
				</div>
				
			</div>
			<div class="col-md-5"> 
				<img id="capital_vocabulary_img" class="col-md-5" style="height: 150px; ">
				<p id="capital_vocabulary_c" style="font-size: 32px; padding-top: 20px; padding-bottom: 0px;margin-bottom: 0px;">單字</p>
				<p id="capital_vocabulary_v" style="font-size: 32px;">a</p>
			</div>
			<div class="row">
				<audio id="capital_nounce" class="col-md-6 col-md-offset-3" controls controlsList="nodownload"></audio>
			</div>
		</div>
		<!-- 下一頁/上一頁/完成 -->
		<div class="row" style="padding-top: 10px;">
			<div class="col-md-4 col-md-offset-3 ">
				<button type="button" class="btn btn-default col-md-offset-3" style="font-size: 32px;" onclick="pre_page();">上一頁</button>
				<button type="button" class="btn btn-default" style="font-size: 32px;" onclick="next_page();">下一頁</button>
			</div>
				
			<div class="col-md-1">
				<button id="complete_btn" type="button" class="btn btn-default" style="font-size: 32px; display: none;" onclick="complete(); ">完成</button>
			</div>
		</div>

	</div>

	
</body>
</html>